.overlay {
      display: none;
      position: fixed;
      top: 0;
      margin: 0;
      padding: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(4px);
      z-index: 999;
      justify-content: center;
      align-items: center;
    }

    .overlay.mostrar {
      display: flex;
    }

    .popup {
      display: none;
    }

    .popup.mostrar {
      display: block;
    }
    .bi-power {
     padding: 0.4rem;
    }