.btn-email {
      background-color: #d9d9d9;
      color: #000;
      border: none;
      border-radius: 0.5rem;
      padding: 0.7rem;
      font-size: 1rem;
      transition: background-color 0.2s ease-in-out;
      
    }

  .btn-email:hover {
      background-color: #c4c4c4;
    }